body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map {
    height: 90vh;
    width: 100%;
}

#form-container {
    width: 90%;
    padding: 20px;
}

form {
    display: flex;
    justify-content:space-between;
}

label, input, button {
    margin: 5px 0;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
